@use "../../../assets/styles" as *;

.logo {
  overflow: hidden;

  &[data-pressed] {
    transform: none !important;
  }

  &__container {
    width: clamp(50px, 4vw, 60px);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
