@use "../../../assets/styles" as *;

// ---- navigation ----
.navigation {
  display: block;

  // ---- list ----
  &__list {
    @include flex-center;
    gap: clamp($space-4, 1.5vw, $space-8);

    // ---- vertical ----
    &--vertical {
      flex-direction: column;
      align-items: stretch;
      gap: $space-8;
      width: 100%;
    }
  }

  // ---- link ----
  &__link {
    width: 100%;
    justify-self: center;
    color: var(--primary-on);
    position: relative;
    isolation: isolate;

    @include button-hover {
      background-color: transparent;
    }

    &[data-pressed] {
      transform: none;
      background-color: transparent;
    }

    // ---- active ----
    &--active {
      color: var(--primary) !important;
    }

    // ---- indicator ----
    &--indicator {
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--primary-on);
    }
  }
}
