# Example: https://formspree.io/f/yourFormId
FORMSPREE_FORM_URL=

# Get one at https://carto.com/basemaps/apikey
CARTO_API_KEY=

# Get one at https://search.google.com/search-console -> Add Property -> HTML tag
GOOGLE_SITE_VERIFICATION=

# Get one at https://www.bing.com/webmasters -> Add Site -> HTML meta tag
BING_SITE_VERIFICATION=

# Get one at https://search.naver.com/search.naver -> Add Site -> HTML meta tag
NAVER_SITE_VERIFICATION=