@use "../../assets/styles" as *;

.page {
  @include page;

  &__container {
    @include flex-column;
    @include container;
    max-width: $breakpoint-md;
    gap: clamp($space-32, 4vw, $space-48);
    counter-reset: counter;
  }

  &__section {
    counter-increment: counter;
  }

  &__sectionTitle {
    font-family: $font-primary;
    font-size: clamp($font-size-24, 3vw, $font-size-32);
    font-weight: $fw-bold;
    line-height: $line-height-tight;
    color: var(--text-primary);
    margin-block: clamp($space-32, 4vw, $space-48)
      clamp($space-16, 2.5vw, $space-24);

    // Counter
    &::before {
      content: counter(counter, decimal-leading-zero) "-";
      font-family: $font-accent;
      background-color: #ffe023;
    }
  }

  // Paragraph
  &__paragraph {
    font-family: $font-secondary;
    color: var(--text-secondary);
    font-size: clamp($font-size-16, 2vw, $font-size-20);
    font-weight: $fw-bold;
    line-height: $line-height-normal;
    margin-block-end: clamp($space-12, 2vw, $space-18);

    &:last-child {
      margin-block-end: 0;
    }
  }

  &__quote {
    font-style: italic;
    margin-block: clamp($space-16, 2.5vw, $space-24);
    margin-inline: 0;
    padding-inline-start: clamp($space-16, 3vw, $space-24);
    border-inline-start: 3px solid var(--primary-border);

    p {
      font-family: $font-primary;
      font-size: clamp($font-size-16, 2vw, $font-size-18);
      line-height: $line-height-relaxed;
      color: var(--text-secondary);
      margin: 0;

      &:not(:last-child) {
        margin-block-end: $space-12;
      }
    }
  }

  &__figure {
    margin-block: clamp($space-24, 4vw, $space-32);
    width: 100%;
    aspect-ratio: 1.7;
    mask-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 80%,
        transparent 100%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
      );
    mask-composite: intersect;
    background-color: var(--image-background);
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    @include cover-image;
    object-position: bottom;
  }

  &__link {
    display: inline;
    width: auto;
    white-space: normal;
    vertical-align: baseline;
    text-decoration: underline;
    text-underline-offset: 0.15em;
    color: inherit;

    @include button-hover {
      color: var(--text-primary);
    }
  }
}
