@use "../../../assets/styles" as *;

.headerSection {
  width: fit-content;
  padding: clamp($space-4, 1.5vw, $space-8) clamp($space-12, 1.5vw, $space-16);
  margin-block: clamp($space-10, 2vw, $space-16);
  background-color: var(--background-elevated);
  border: 1px solid var(--border);
  cursor: default;

  &__title {
    font-family: $font-primary;
    font-size: clamp($font-size-14, 3vw, $font-size-20);
    font-weight: $fw-bold;
    color: var(--text-primary);
    user-select: none;
  }
}
