@use "../../../assets/styles" as *;

.headerSection {
  @include flex-between;
  width: 100%;
  margin-block: clamp($space-16, 3vw, $space-24);

  &__title {
    font-family: $font-secondary;
    font-size: clamp($font-size-16, 2vw, $font-size-18);
    font-weight: $fw-bold;
    color: var(--text-primary);
    background-color: var(--background-elevated);
    padding: clamp($space-4, 1.5vw, $space-8) clamp($space-12, 1.5vw, $space-16);
    border: 1px solid var(--border);
    user-select: none;
  }

  &__link {
    justify-self: end;
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: clamp($font-size-14, 2vw, $font-size-16);
    padding-right: $space-4;
    font-weight: $fw-medium;

    span {
      gap: 0 !important;
    }

    @include button-hover {
      svg {
        transform: rotate(45deg) translate(1px, -3px);
      }
    }

    &[data-pressed] {
      transform: none;
    }
  }

  &__linkIcon {
    color: inherit;
    font-size: clamp($font-size-14, 1.5vw, $font-size-16) !important;
    transition: transform $duration-base ease-in;
  }
}
