@use "../../assets/styles" as *;

// ---- about ----
.about {
  @include section;

  &__container {
    @include container;
    padding-top: 0;
  }

  &__header {
    display: none;
  }

  &__paragraph {
    font-family: $font-primary;
    font-size: clamp($font-size-14, 2vw, $font-size-18);
    font-weight: $fw-regular;
    line-height: 2;
    color: var(--text-primary);
    max-width: 73ch;
    margin-inline: auto;
    text-indent: $space-24;
    position: relative;
    isolation: isolate;
    text-wrap: pretty;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: clamp(2px, 0.5vw, 4px);
      height: clamp(20px, 3vw, 30px);
      background-color: var(--primary);
      z-index: -1;
    }

    @include down(sm) {
      letter-spacing: -0.022em;
      word-wrap: pretty;
    }
  }
}
