@use "../../../assets/styles" as *;

// ---- header ----
.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: $z-header;
  padding-inline: clamp($space-4, 1vw, $space-8);

  // ---- container ----
  &__container {
    @include container;
    @include flex-between;
    background-color: var(--primary);
    padding: clamp($space-4, 1vw, $space-8);
    margin-top: clamp($space-8, 1.5vw, $space-12);
    overflow: hidden;
    outline: 1px solid var(--background-inverse);
    max-width: calc($container-width - clamp($space-8, 1vw, $space-12) * 2);

    @include down(sm) {
      padding-inline: $space-12;
    }
  }

  // ---- desktop navigation ----
  &__navigation {
    @include down(md) {
      display: none !important;
    }
  }

  // ---- overlay ----
  @include down(md) {
    &__overlay {
      position: fixed;
      inset: 0;
      z-index: $z-menu;
      background-color: alpha(var(--surface-overlay), 5);
      backdrop-filter: blur(7px);
    }
  }
}
