@use "../../../assets/styles" as *;

.headerPage {
  @include flex-column;
  align-items: center;
  @include container;
  width: 100%;
  gap: clamp($space-10, 2vw, $space-16);
  padding-block: clamp($space-40, 6vw, $space-64);
  border-bottom: 1px solid var(--border);

  &__title {
    font-family: $font-primary;
    color: var(--text-primary);
    text-shadow: clamp(-1.5px, 1vw, -3px) clamp(-1.5px, 1vw, -3px) 0
      var(--background);
    font-size: clamp(rem(40), 8vw, rem(60));
    font-weight: $fw-bold;
    position: relative;
    isolation: isolate;

    // Background
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include square(clamp(20px, 3.5vw, 35px));
      background-color: var(--primary);
      z-index: $z-below;
    }
  }

  &__description {
    font-family: $font-secondary;
    color: var(--text-secondary);
    font-size: clamp($font-size-14, 2.5vw, $font-size-20);
    font-weight: $fw-semibold;
    max-width: 65ch;
    text-align: center;
  }
}
