@use "../../../assets/styles" as *;

// ---- projects grid ----
.projects {
  @include responsive-grid(
    repeat(2, 1fr),
    clamp($space-12, 1.5vw, $space-16),
    (
      md: auto,
    )
  );
  justify-content: center;

  // ---- project card ----
  &__card {
    @include flex-column;
    max-width: 430px;
    background-color: var(--background-muted);
    border: 1px solid var(--border);
    overflow: hidden;
    padding: clamp($space-10, 1vw, $space-12);

    :global(html[data-theme="dark"]) & {
      box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.1);
    }

    // ---- card media ----
    &-media {
      position: relative;
      max-width: inherit;
      aspect-ratio: 1.6;
      overflow: hidden;
      background-color: var(--image-background);
      mask-image: linear-gradient(to bottom, black 70%, transparent);
      border: 1px solid var(--border);
    }

    // ---- card image ----
    &-image {
      @include cover-image;
      object-position: top;
    }

    // ---- card body ----
    &-body {
      @include flex-column;
      flex: 1;
      gap: clamp($space-8, 1.5vw, $space-12);
      padding-left: clamp($space-12, 2vw, $space-16);
    }

    // ---- card title ----
    &-title {
      font-family: $font-primary;
      font-size: clamp($font-size-24, 4vw, $font-size-28);
      font-weight: $fw-bold;
      color: var(--text-primary);
      text-transform: capitalize;
    }

    // ---- card description ----
    &-description {
      font-family: $font-primary;
      font-size: clamp($font-size-12, 2vw, $font-size-14);
      font-weight: $fw-regular;
      color: var(--text-secondary);
      line-height: $line-height-relaxed;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // ---- card tags ----
    &-tags {
      display: flex;
      flex-wrap: wrap;
      gap: clamp($space-4, 1vw, $space-8);
    }

    // ---- card tag ----
    &-tag {
      padding: $space-4 $space-8;
      font-family: $font-secondary;
      font-size: clamp(rem(13), 2vw, rem(15));
      font-weight: $fw-bold;
      color: var(--text-secondary);
      background-color: var(--background-elevated);
      border: 1px solid var(--border);
      text-transform: capitalize;
    }

    // ---- card actions ----
    &-actions {
      @include flex-center;
      justify-content: flex-end;
      gap: $space-8;
      margin-top: clamp($space-12, 2vw, $space-18);
    }

    // ---- card action ----
    &-action {
      &--github {
        background-color: var(--background-inverse);
        color: var(--text-inverse);
        border-color: var(--background-inverse);
      }
    }
  }
}
