@use "../../assets/styles" as *;

.page {
  @include page;

  &__container {
    @include container;
    @include flex-column;
    gap: clamp($space-24, 3vw, $space-32);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
