@use "../../../assets/styles" as *;

.footer {
  @include section;
  padding-block: $space-24 $space-32;

  &__container {
    @include container;
    @include flex-between;
    gap: $space-16;
    padding-block: $space-16;
    margin-block: 0;
    max-width: calc($container-width - clamp($space-8, 1vw, $space-12));

    @include down(sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__copyright {
    font-family: $font-primary;
    font-size: $font-size-14;
    color: var(--text-secondary);
    line-height: $line-height-normal;
  }
}
