@use "../../../assets/styles" as *;

.skills {
  &__grid {
    @include responsive-grid(
      repeat(4, 1fr),
      clamp($space-8, 2vw, $space-12),
      (
        sm: repeat(3, 1fr),
      )
    );
  }

  &__item {
    all: unset;
    @include flex-center;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 1.5;
    background-color: var(--background-elevated);
    gap: clamp($space-8, 1.5vw, $space-12);
    border: 1px solid var(--border);
    cursor: pointer;
    overflow: hidden;
    transition:
      transform $duration-base ease-in,
      background-color $duration-base ease-in;

    @include down(md) {
      aspect-ratio: 1.2;
    }

    @media (hover: hover) {
      &:hover,
      &[data-pressed],
      &[data-focus-visible] {
        background-color: var(--background-muted) !important;

        .skills__icon {
          color: var(--skill-color);
          filter: drop-shadow(6px 6px 2px alpha(var(--skill-color), 50));
          transform: translateY(-10px) scale(1.3) rotate(5deg);
        }
      }
    }
  }

  &__icon {
    font-size: clamp($font-size-24, 3vw, rem(36));
    flex-shrink: 0;
    color: var(--text-secondary);
    filter: drop-shadow(1px 1px 0px alpha(var(--text-secondary), 50));
    transition:
      color $duration-base ease,
      filter $duration-base ease-in,
      transform $duration-base ease;
  }

  &__name {
    text-transform: capitalize;
    font-family: $font-secondary;
    font-size: clamp($font-size-14, 1.5vw, $font-size-16);
    font-weight: $fw-regular;
    color: var(--text-tertiary);
    line-height: $line-height-tight;
  }
}
